## Visual Studio
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

## Visual Studio cache/options
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx

## Build Results
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/

## Files built by Visual Studio
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.aps
*.ncb
*.opendb
*.cachefile
*.VC.db
*.VC.VC.opendb

## Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

## ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## NuGet Packages
*.nupkg
packages/
*.snupkg
**/packages/*

## Keep these
!.gitignore